# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/.symlinks/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/packages/

# Misc
*.log
.DS_Store
